# ignore compiled byte code
target

# ignore output files from testing
output*
workloads/*.dat
workload*.dat
data-load.dat
*.debug
test.py
p_test.py
cb_perf.log
cb_debug.log
test_output.out
test_fail_*.out
test_fail_*.log
.pytest_cache/

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ files
.idea/
*.iml
*.ipr
*.iws
venv/
venv36/
venv.OLD/
venv.HOLD/
cbvenv/
setup.log

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store

# igniore git in nested packages
*/.git
