couchbase>=4.1.1
dnspython==2.3.0
Jinja2==3.1.2
psutil==5.9.4
urllib3==1.26.14
Pillow>=8.4.0
numpy>=1.19.5
autopep8==2.0.1
pre-commit==3.0.2
pytest==7.2.1
pytest-asyncio~=0.17,>=0.17.2
pytest-rerunfailures==11.0
pytest-mock~=3.10
requests>=2.28.1
Twisted~=22.2,>=22.2.1
constants>=0.6.0
passlib>=1.7.4
bcrypt>=4.0.0
pandas>=1.5.3
attrs>=19.3.0
cbcmgr==1.1.4
docker~=6.0.1
